/* global class------------------------- */
.collapse-btn:hover {
    background-color: #1c2d3f;
    text-indent: 5%;

}

.collapse-btn 
a 
h1:hover {   
    color: #fff;
    text-decoration: none;
}

.collapse-btn 
a:hover {   
    text-decoration: none;
}

/* for large computer screen----------------------------- */
@media only screen and (max-width: 2560px) { 
        
    /* header------------------------------------ */
    .header {
        background-color: #1c2d3f;
        padding: 1% 8%;
    }

    .header 
    .details {
        color: #fff;
        text-align: left;
    }

    .header 
    .details 
    h1 {
        font-size: 70px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .header 
    .details 
    .show {
        font-size: 30px;
        display: show;
        padding-left: 0%;
        margin-top: 0px;
        padding-top: 0px;
    }

    .header 
    .details 
    p {
        font-size: 30px;
        color: rgba(255, 82, 82, 1);
        margin: 0%;
    }

    .header 
    .details 
    ul {
        list-style-type: none;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }


    .header img { 
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 0px;
    }

    /* lower------------------------------------ */
    .lower {
        padding-top: .5%;
    }

    /* lower left------------------------------------ */
    .lower 
    .left {
        background-color:  #565d76;
        padding: 1% 1% 1% 8%;
    }

    .lower 
    .left-content {
        background-color: none;
        margin-bottom: 7%;
    }

    .lower
    .left-content
    h1 {
        font-size: 30px;
        color: rgba(255, 82, 82, 1);
    }

    .lower 
    .left-content
    ul {
        list-style-type: none;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        color: #ffffff;
    }

    .lower 
    .left-content
    .position {
        font-size: 16px;
        color: #929292;
        margin-bottom: 2%;
        margin-top: 0%;
        padding-top: 0px;
    }


    /* lower right------------------------------------ */
    .lower .right  {
        background-color: #ffffff;
        padding: 1% 8% 1% 1%;
        text-align: justify;
    }

    .lower 
    .right-content {
        margin: 3% 0% 0% 0%;
        padding: 0% 0% 0% 5%;
        border-bottom: rgba(255, 82, 82, 1)5px solid;
        
    }

    .lower 
    .right-content.profile {
        margin-top: 0%;
        padding-bottom: 3%;
    }
    
    .lower 
    .right-content.profile 
    p {
        text-indent: 30px;
    }

    .lower 
    .right-content
    h1 {
        font-size: 30px;
        color: rgb(34, 34, 34);
    }

    .lower 
    .right-content
    h2 {
        font-size: 25px;
        color: rgb(34, 34, 34);
        margin: 0%;
    }

    .lower 
    .right-content
    p {
        font-size: 16px;
        color: rgb(34, 34, 34);
        margin: 0%;
    }

    .lower 
    .right-content
    .descrition{
        margin:  1% 0% 3% 0%;
    }

    /* footer------------------------------------ */
    
    .footer-head
    h1 {
        font-size: 30px;
        color: rgba(255, 82, 82, 1);
        margin-bottom: 2%;
    }
    
    .header
    .details 
    img {
        height: 60px;
        width: 60px;
        padding: 1%;
        /* margin: 1% 2%; */
    }
    
    .header.footer {
        padding: 3% 0%;
    }

    .header.footer 
    .details {
        text-align: center;
        padding: 0%;
    }


    


}

/* for medium ipad screen----------------------------- */
@media only screen and (max-width: 916px) { 

    /* header------------------------------------ */
    .header {
        background-color: #1c2d3f;
        padding: 1% 8%;
    }

    .header 
    .details {
        color: #fff;
        text-align: left;
    }

    .header 
    .details 
    h1 {
        font-size: 50px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .header 
    .details 
    .show {
        font-size: 30px;
        display: show;
        padding-left: 0%;
        margin-top: 0px;
        padding-top: 0px;
    }

    .header 
    .details 
    p {
        font-size: 25px;
        color: rgba(255, 82, 82, 1);
        margin: 0%;
    }

    .header 
    .details 
    ul {
        list-style-type: none;
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }

    .header .profile_pic {
        padding: 0%;
    }

    .header img { 
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 0px;
    }

    /* lower------------------------------------ */
    .lower {
        padding-top: .5%;
    }

    /* lower left------------------------------------ */
    .lower 
    .left {
        background-color:  #565d76;
        padding: 1% 1% 1% 8%;
    }

    .lower 
    .left-content {
        background-color: none;
        margin-bottom: 7%;
    }

    .lower
    .left-content
    h1 {
        font-size: 25px;
        color: rgba(255, 82, 82, 1);
    }

    .lower 
    .left-content
    ul {
        list-style-type: none;
        font-size: 18px;
        padding: 0px;
        margin: 0px;
        color: #ffffff;
    }



    /* lower right------------------------------------ */
    .lower .right  {
        background-color: #ffffff;
        padding: 1% 8% 1% 1%;
        text-align: justify;
    }

    .lower 
    .right-content {
        margin: 3% 0% 0% 0%;
        padding: 0% 0% 0% 5%;
        border-bottom: rgba(255, 82, 82, 1)5px solid;
        
    }

    .lower 
    .right-content.profile {
        margin-top: 0%;
        padding-bottom: 3%;
    }
    
    .lower 
    .right-content
    h1 {
        font-size: 25px;
        color: rgb(34, 34, 34);
    }

    .lower 
    .right-content
    h2 {
        font-size: 20px;
        color: rgb(34, 34, 34);
        margin: 0%;
    }

    .lower 
    .right-content
    p {
        font-size: 14px;
        color: rgb(34, 34, 34);
        margin: 0%;
    }

    .lower 
    .right-content
    .descrition{
        margin:  1% 0% 3% 0%;
    }



}


/* for small screen----------------------------- */
@media only screen and (max-width: 768px) { 
    
    /* header------------------------------------ */
    .header {
        background-color: #1c2d3f;
        padding: 1% 8%;
    }

    .header 
    .details {
        color: #fff;
        text-align: center;
    }

    .header 
    .details 
    h1 {
        font-size: 35px;
    }

    .header 
    .details 
    .show {
        font-size: 20px;
        display: show;
        padding-left: 0%;
    }

    .header 
    .details 
    p {
        font-size: 20px;
        color: rgba(255, 82, 82, 1);
        display: none;
    }

    .header 
    .details 
    ul {
        list-style-type: none;
        font-size: 15px;
        padding: 0px;
        margin: 0px;
    }


    .header img { 
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 20px;
    }

    /* lower------------------------------------ */
    .lower {
        padding-top: .5%;
    }

    /* lower left------------------------------------ */
    .lower 
    .left {
        text-align: center;
        background-color:  #565d76;
        padding: 1% 10% 1% 10%;
    }

    .lower 
    .left-content {
        background-color: none;
        margin-bottom: 7%;
    }

    .lower
    .left-content
    h1 {
        font-size: 30px;
        color: rgba(255, 82, 82, 1);
    }

    .lower 
    .left-content
    ul {
        list-style-type: none;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        color: #ffffff;
    }



    /* lower right------------------------------------ */
    .lower .right  {
        background-color: #ffffff;
        padding: 1% 10% 1% 10%;
        text-align: justify;
    }

    .lower 
    .right-content {
        padding: 0% 0% 0% 0%;
        border-bottom: rgba(255, 82, 82, 1) 5px solid;
        margin-bottom: 5%;
    }

    .lower 
    .right-content
    h1 {
        font-size: 30px;
        color: rgb(34, 34, 34);
        text-align: center;
    }

    .lower 
    .right-content
    h2 {
        font-size: 25px;
        color: rgb(34, 34, 34);
    }

    .lower 
    .right-content
    p {
        font-size: 16px;
        color: rgb(34, 34, 34);
    }




}

